<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pikachu</title>
    <link rel="stylesheet" href="./render/css/flat-ui.min.css">
    <link rel="stylesheet" href="./render/css/main.css">
</head>
<body id="app">
<div class="loading-mask" v-if="appLoading || showMask">
    <span class="fui-gear" v-if="appLoading"></span>
</div>
<div class="app-tip-bar" v-bind:class="{'tip-show': appShowTip, 'error-tip-bar': appShowTipError}">
    <p class="text-warning">{{appTipMessage}}</p>
</div>
<div class="title-bar">
    <span class="logo"></span>
    <span class="app-title-name">{{appName}}</span>
    <span class="fui-cross-circle fr" title="关闭" v-on:click="closeApp()"></span>
</div>
<div class="app-menu">
    <span v-on:click="openMenu(0, $event)">Project</span>
    <span v-on:click="openMenu(1, $event)">Edit</span>
    <span v-on:click="openMenu(2, $event)">Window</span>
    <span v-on:click="openMenu(3, $event)">Setting</span>
    <span v-on:click="openMenu(4, $event)">Help</span>
</div>
<div class="app-wrap">
    <router-view></router-view>
</div>
<script src="./render/js/vue.min.js"></script>
<script src="./render/js/vue-router.min.js"></script>
<script>
    (function () {
        var config = require('./config');
        window.appRoute = require('./render/js/app').start(config);
    }());
</script>
</body>
</html>