<div class="prj-info">
    <div class="side-menu">
        <nav>
            <a href="javascript:" v-on:click="tab('baseInfo')" v-bind:class="{'current': curTab == 'baseInfo'}"><i class="iconfont" title="项目信息">&#xe60a;</i></a>
            <a href="javascript:" v-on:click="tab('task')" v-bind:class="{'current': curTab == 'task'}"><i class="iconfont" title="任务调度">&#xe603;</i></a>
            <a href="javascript:" v-on:click="tab('css')" v-bind:class="{'current': curTab == 'css'}"><i class="iconfont" title="Sass/Less">&#xe607;</i></a>
            <a href="javascript:" v-on:click="tab('others')" v-bind:class="{'current': curTab == 'others'}"><i class="iconfont" title="其他">&#xe60c;</i></a>
            <a href="javascript:" v-on:click="tab('setting')" v-bind:class="{'current': curTab == 'setting'}"><i class="iconfont" title="设置">&#xe601;</i></a>
            <a href="javascript:" v-on:click="returnTo()"><i class="iconfont" title="返回">&#xe605;</i></a>
        </nav>
    </div>
    <div class="prj-actions">
        <include file="./prj-baseinfo.html"></include>
        <include file="./prj-task.html"></include>
        <include file="./prj-sass.html"></include>
        <include file="./prj-others.html"></include>
        <include file="./prj-setting.html"></include>
    </div>
</div>