<div class="prj-info">
    <div class="side-menu">
        <nav>
            <a href="javascript:" v-on:click="tab('baseInfo')" v-bind:class="{'current': curTab == 'baseInfo'}"><i class="iconfont" title="项目信息">&#xe60a;</i></a>
            <a href="javascript:" v-on:click="tab('task')" v-bind:class="{'current': curTab == 'task'}"><i class="iconfont" title="任务调度">&#xe603;</i></a>
            <a href="javascript:" v-on:click="tab('css')" v-bind:class="{'current': curTab == 'css'}"><i class="iconfont" title="Sass/Less">&#xe607;</i></a>
            <a href="javascript:" v-on:click="tab('others')" v-bind:class="{'current': curTab == 'others'}"><i class="iconfont" title="其他">&#xe60c;</i></a>
            <a href="javascript:" v-on:click="tab('setting')" v-bind:class="{'current': curTab == 'setting'}"><i class="iconfont" title="设置">&#xe601;</i></a>
            <a href="javascript:" v-on:click="pathTo('/prjList')"><i class="iconfont" title="返回">&#xe605;</i></a>
        </nav>
    </div>
    <div class="prj-actions">
        <div class="prj-baseInfo" v-if="curTab == 'baseInfo'" v-bind:class="{'tabShow': curTab == 'baseInfo'}">
            <h2><span>{{prjInfo.name}}</span> 基本信息：</h2>
            <p>
                <span>名称：</span>
                <span>{{prjInfo.name}}</span>
            </p>
            <p>
                <span>创建时间：</span>
                <span>{{prjInfo.createTime}}</span>
            </p>
            <p>
                <span>位置：</span>
                <span>{{prjInfo.path}}</span>
            </p>
            <p>
                <span>占用端口：</span>
                <span>{{prjInfo.port}}</span>
                <span class="status" v-bind:class="{'running': prjInfo.isRunning}" title="当前运行状态">{{prjInfo.isRunning ? "运行中" : "已停止"}}</span>
            </p>
            <p>
                <span>模板配置：</span>
                <span>{{prjInfo.configTpl || "无"}}</span>
            </p>
            <p>
                <span>代理配置：</span>
                <span>{{prjInfo.proxyHost ? prjInfo.proxyHost + prjInfo.proxyPath : "无"}}</span>
            </p>
            <p>
                <span>开启缓存：</span>
                <label class="checkbox" title="{{prjInfo.useCache ? '是' : '否'}}">
                    <input type="checkbox" value="" class="custom-checkbox" disabled v-model="prjInfo.useCache">
                    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                </label>
            </p>
            <p>
                <span>访问地址：</span>
                <span class="host-link">
                    <a href="javascript:" v-on:click="visitSite()">http://localhost:{{prjInfo.port}}</a>
                </span>
            </p>
        </div>
        <div class="prj-task" v-if="curTab == 'task'" v-bind:class="{'tabShow': curTab == 'task'}">
            <h2>任务调度：</h2>
            <dl>
                <dt v-bind:class="{'current': curTaskTab == 'gulp'}" v-on:click="taskTab('gulp')">gulp
                    <span class="fui-question-circle icon-tip">
                        <em>
                            解析项目 gulpfile.js 文件中 gulp.task() 定义的任务。
                            <br>
                            <span class="cwd">cwd: {{prjInfo.path}}</span>
                            <br>
                            可在 window -&gt; 控制台 查看IO输出。
                        </em>
                    </span>
                </dt>
                <dt v-bind:class="{'current': curTaskTab == 'grunt'}" v-on:click="taskTab('grunt')">grunt
                    <span class="fui-question-circle icon-tip"><em>解析项目 Gruntfile.js 文件中 grunt.registerTask() 定义的任务。
                    <br>
                    <span class="cwd">cwd: {{prjInfo.path}}</span></em></span>
                </dt>
                <dt v-bind:class="{'current': curTaskTab == 'webpack'}" v-on:click="taskTab('webpack')">webpack</dt>
                <dd v-bind:class="{'current': curTaskTab == 'gulp'}">
                    <template v-if="gulpList.length === 0">
                        <p>No task!</p>
                    </template>
                    <template v-else>
                        <div class="task-info">
                            <span class="task-show" title="执行的命令">$&nbsp;&nbsp;<i>{{gulpTask || '未指定任务'}}</i></span>
                            <input type="text" class="form-control gulp-param" v-model="gulpParam" placeholder="这里可添加运行参数">
                            <button type="button" class="btn btn-primary btn-sm" v-bind:disabled="!gulpTask || gulpTaskIsRunning" v-on:click="runGulpTask()">运 行</button>
                        </div>
                        <div class="task-row gulp-task-row">
                            <label class="task-item" v-for="task in gulpList" v-bind:class="{'current': task == gulpTaskName}">
                                <input type="radio" name="gulp-task-item" v-model="gulpTaskName" v-bind:value="task">
                                <span> {{task}} </span>
                            </label>
                        </div>
                    </template>
                </dd>
                <dd v-bind:class="{'current': curTaskTab == 'grunt'}">
                    <template v-if="gruntList.length === 0">
                        <p>No task!</p>
                    </template>
                    <template v-else>
                        <div class="task-info">
                            <span class="task-show" title="执行的命令">$&nbsp;&nbsp;<i>{{gruntTask || '未指定任务'}}</i></span>
                            <input type="text" class="form-control gulp-param" v-model="gruntParam" placeholder="这里可添加运行参数">
                            <button type="button" class="btn btn-primary btn-sm" v-bind:disabled="!gruntTask || gruntTaskIsRunning" v-on:click="runGruntTask()">运 行</button>
                        </div>
                        <div class="task-row gulp-task-row">
                            <label class="task-item" v-for="task in gruntList" v-bind:class="{'current': task == gruntTaskName}">
                                <input type="radio" name="grunt-task-item" v-model="gruntTaskName" v-bind:value="task">
                                <span> {{task.taskName}} </span>
                            </label>
                        </div>
                    </template>
                </dd>
                <dd v-bind:class="{'current': curTaskTab == 'webpack'}">
                    <template v-if="webpackList.length === 0">
                        <p>No task!</p>
                    </template>
                    <template v-else></template>
                </dd>
            </dl>
        </div>
        <div class="prj-css" v-if="curTab == 'css'" v-bind:class="{'tabShow': curTab == 'css'}">
            <h2>
                <input class="form-control input-sm" type="text" v-model="sassFileSearch" placeholder="filter: input file name">
                <label class="checkbox">
                    <input type="checkbox" value="" class="custom-checkbox" v-model="unShowStartWidth_">
                    <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                    <span class="label-txt">过滤 _ 开头的文件</span>
                </label>
                <span class="fui-question-circle icon-tip">
                    <em>
                        1. 文件默认是按命名排序的。
                        <br>
                        2. 本功能是使用集成到 pikachu 内部的 ruby + sass 或 ruby + compass 实现的编译过程。
                        <br>
                        3. 默认编译配置将使用项目的 sass 编译配置，默认输出位置是源文件的位置。
                        <br>
                        4. 单个文件的编译配置和文件输出位置可右键菜单设置。
                    </em>
                </span>
                <span class="fui-eye fr" title="重新扫描" v-on:click="scanSassFile()"><em>{{scanTime}}ms {{sassFiles.length}}个文件</em></span>
            </h2>
            <p v-if="isScanning">正在扫描项目中的 .scss 文件，请稍后...</p>
            <template v-else>
                <p v-if="sassFiles.length === 0">未发现任何 .scss 文件！</p>
                <ul class="sass-file-list" v-else>
                    <li v-for="file in sassFiles"
                        v-on:contextmenu="popSassMenu($event, file)"
                        v-on:click="selectSassFile(file)"
                        v-bind:class="{'current': selectSass == file.fullPath}"
                        v-show="file.name.indexOf(sassFileSearch) > -1 && !(file.name[0] === '_' && unShowStartWidth_)">
                        <i class="iconfont">&#xe607;</i>
                        <span>
                            {{file.fullPath.replace(prjInfo.path, '')}}
                            <br>
                            <span class="fui-new" title="设置输出位置" v-on:click="setOurDir(file)"></span> {{file.cssDir}}
                        </span>
                        <span class="fui-upload" v-on:click="compileSass(file)" title="编译"></span>
                    </li>
                </ul>
            </template>
        </div>
        <div class="prj-others" v-if="curTab == 'others'" v-bind:class="{'tabShow': curTab == 'others'}">
            <h2>Others：</h2>
        </div>
        <div class="prj-setting" v-if="curTab == 'setting'" v-bind:class="{'tabShow': curTab == 'setting'}">
            <h2>项目设置：</h2>
        </div>
    </div>
</div>