<div class="prj-list">
    <form>
        <legend>项目列表：</legend>
        <button v-if="hosts.length > 0" type="button" class="btn btn-primary btn-sm rlink-btn" v-on:click="pathTo('/prjEdit')">添加项目</button>
    </form>
    <div class="no-data" v-if="hosts.length === 0">
        <p>空，空空如也</p>
        <button type="button" class="btn btn-primary btn-hg" v-on:click="pathTo('/prjEdit')">
            <span class="fui-plus"></span> 添加项目
        </button>
    </div>
    <div class="prj-row" v-for="host in hosts" v-bind:class="{'running': host.isRunning}">
        <span class="col50">名称：{{host.name}}</span>
        <span class="col50">端口：{{host.port}}</span>
        <span class="col100">路径：<span class="path" v-on:click="openDir(host.path)">{{host.path}}</span></span>
        <span class="col100">创建时间：<span>{{host.createTime}}</span></span>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-xs" v-if="!host.isRunning" v-on:click="startHost(host)">启动</button>
            <button type="button" class="btn btn-primary btn-xs running" v-else disabled>运行中</button>
            <button type="button" class="btn btn-primary btn-xs stop" v-if="host.isRunning" v-on:click="stopHost(host)">停止</button>
            <button type="button" class="btn btn-primary btn-xs" v-else disabled>停止</button>
            <button type="button" class="btn btn-info btn-xs" v-on:click="visitSite(host)">访问</button>
            <button type="button" class="btn btn-info btn-xs" v-on:click="hostInfo(host)">更多操作</button>
            <button type="button" class="btn btn-danger btn-xs" v-on:click="removeHost($index, host)" class="remove">移除</button>
        </div>
    </div>
</div>