<div class="prj-list">
    <template v-if="hosts.length === 0">
        <div class="no-data">
            <p>空，空空如也</p>
            <button type="button" class="btn btn-primary btn-hg" v-on:click="pathTo('/prjEdit')">
                <span class="fui-plus"></span> 添加项目
            </button>
        </div>
    </template>
    <template v-else>
        <div class="side-menu" v-bind:class="{'expand': expanded}">
            <div class="project-bar" v-if="expanded">
                <span class="fui-folder" v-if="expanded"></span>
                <span v-if="expanded">Projects</span>
                <span class="fui-arrow-left" title="Hide" v-on:click="toggleNav()"></span>
                <span class="fui-plus" title="new" v-on:click="pathTo('/prjEdit')"></span>
            </div>
            <div class="project-expand-bar" v-if="!expanded" title="Show" v-on:click="toggleNav()">
                <span class="fui-arrow-right"></span>
                <span class="v-txt">Projects</span>
            </div>
            <ul class="project-item" v-if="expanded" v-on:contextmenu="popPrjListMenu($event)" v-on:click="unselectHost($event)">
                <li v-for="host in hosts"
                    v-bind:class="{'running': host.isRunning, 'current': host.name == currentHostName}"
                    v-on:click="selectHost($event, host.name)">
                    <span class="fui-radio-checked"></span>
                    <span>{{host.name}}</span>
                    <span class="fui-triangle-right-large" title="running" v-if="host.isRunning"></span>
                    <span class="fui-power" title="off" v-else></span>
                </li>
            </ul>
        </div>
        <div class="project-list-item-show">
            <section v-for="host in hosts" v-if="host.name == currentHostName">
                <div class="display-row">
                    <span class="fui-document"></span>
                    <label class="link canVisit" title="项目名称" v-on:click="hostInfo(host)">{{host.name}}</label>
                </div>
                <div class="display-row">
                    <span class="fui-tag"></span>
                    <label title="端口">{{host.port}}</label>
                </div>
                <div class="display-row">
                    <span class="fui-time"></span>
                    <label title="创建时间">{{host.createTime}}</label>
                </div>
                <div class="display-row">
                    <span class="fui-folder"></span>
                    <label class="link canVisit" title="路径" v-on:click="openDir(host.path)">{{host.path}}</label>
                </div>
                <div class="display-row">
                    <span class="fui-link"></span>
                    <label class="link" v-bind:class="{'canVisit': host.isRunning}" title="点击访问" v-on:click="host.isRunning && visitSite(host)">http://localhost:{{host.port}}</label>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" v-if="!host.isRunning" v-on:click="startHost(host)">启动</button>
                    <button type="button" class="btn btn-primary running" v-else disabled>运行中</button>
                    <button type="button" class="btn btn-primary stop" v-if="host.isRunning" v-on:click="stopHost(host)">停止</button>
                    <button type="button" class="btn btn-primary" v-else disabled>停止</button>
                </div>
                <a class="more-action fui-list-columned" href="javascript:">
                    <span class="more-action-nav">
                        <span v-on:click="pathTo('/prjInfo/' + host.id, {tab: 'task'})">任务</span>
                        <span v-on:click="pathTo('/prjInfo/' + host.id, {tab: 'css'})">Sass</span>
                        <span v-on:click="pathTo('/prjInfo/' + host.id, {tab: 'setting'})">项目设置</span>
                        <span class="remove" v-on:click="removeHost($index, host)">移除项目</span>
                    </span>
                </a>
                <div class="process-info">
                    <p class="cpu" title="当前CPU占用率">
                        <span>CPU</span><span>{{host.cpu}}</span>
                    </p>
                    <p class="mem" title="当前占用内存">
                        <span>MEM</span><span>{{host.mem}}</span>
                    </p>
                </div>
            </section>
            <section v-if="!currentHostName">
                <p>
                    单击选择项目 or
                    <button type="button" class="btn btn-primary" v-on:click="pathTo('/prjEdit')">
                        <span class="fui-plus"></span> 添加项目
                    </button>
                </p>
            </section>
        </div>
    </template>
</div>